.main-page {
  display: flex;
  width: 100%;
  /* min-height: 100%; */
  /* overflow: hidden; */
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  /* min-height: 100vh; */
}

.main-container {
  /* flex: 5 1 auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap; */
}
.upload-container {
  flex: 1 1 320px;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: white;
}
.upload-container > * {
  width: 80%;
  margin: auto;
}

.results-container {
  flex: 1 1 320px;
  width: 100%;
  background: #3d445c;
  border-left: 1px solid #bdbdbd;
}

.settings-container {
  flex: 1 0 auto;
  margin-top: auto;
  width: 100%;
  background: rgb(246, 246, 247);
  display: flex;
  padding: 0 12px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
