.result-list {
    width: 100%;
}

.result {
    width: 100%;
    margin: 8px 0;
    background: #eee;
}

.result-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: #eee;
}
.result-sound {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: #eee;
}


.keyword-remove {
    padding: 4px 8px;
    background: red;
    cursor: pointer;
}