.result-list {
    width: 100%;
}

.result-container, .results-header {
    width: 100%;
    margin: 1px 0;
    background: white;
    /* border-radius: 6px; */
    padding: 6px 12px;
    overflow: hidden;
}

.results-header {
    margin: 0;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form.result-add {
    display: block;
    padding: 12px;
}

.result-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}
.result-keyword {
    font-weight: 700;
}

.result-sound {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    background: rgb(57, 56, 87);
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.result-sound audio {
    max-width: 250px;
}


.keyword-remove {
    padding: 4px 8px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    background: rgb(247, 154, 154);
    cursor: pointer;
}