.result-list {
    width: 100%;
}

.result-container, 
.results-header {
    width: 100%;
    margin: 1px 0;
    background: white;
    /* border-radius: 6px; */
    /* padding: 6px 12px; */
    overflow: hidden;
}

.results-header {
    margin: 0;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form.result-add {
    display: block;
    padding: 12px;
}

.result-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}
.result-keyword {
    font-weight: 700;
}

.result-sound {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    background: rgb(228, 231, 236);
    /* color: white; */
    font-size: 10px;
}
