.media-list-container {
    width: 80%;
    max-width: 400px;
    background: white;
    padding: 12px;
    border-radius: 4px;
}

.media-list-container p {
    padding-bottom: 6px;
}

.media-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.media-preview {
    flex: 1 0 100px;
    margin: 6px;
    background: #eee;
    display: flex;
    flex-direction: column;
}

.media-preview a {
    background: blue;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.media-img {
    flex: 1 0 auto;
    min-height: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.media-video {
    width: 100%;
    background: blue;
}