.env-settings-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.env-settings-container h2 {
    padding-right: 20px;
}

.env-settings-container div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.env-settings-container div div {
    flex: 1 1 auto;
    padding: 6px 12px 6px 0;
}

.env-settings-container div div label {
    font-weight: 700;
    padding-right: 4px;
}