.env-settings-container {
    width: 100%;
    background: #f5f5f5;    
    padding: 12px;
    border-top: 1px solid #222;
}

.env-settings-container div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.env-settings-container .audio-settings-header {
    width: 100%;
    justify-content: space-between;
}

.audio-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 6px 0;
}

.audio-options div {
    flex: 1 1 auto;
    padding: 6px 0;
}
.audio-options div:nth-child(1) {
    padding-right: 6px;
}

.audio-options label {
    font-weight: 700;
    padding-right: 4px;
}

.audio-options input {
    max-width: 200px;
}