.upload-area {
    width: 80%;
    max-width: 400px;
    background: white;
    margin: 8px auto;
    padding: 12px;
    border-radius: 4px;
}

.upload-button {
    width: 80%;
    text-align: center;
    margin: 8px auto;
    align-self: center;
}

.up-preview img {
    width: 80%;
    display: block;
    margin: 0 auto;
}